.all {
  text-align: center;
}

.container {
  display: flex;
  justify-self: center;
  justify-content: space-around;
}

.appButton {
  margin-bottom: 40px;
  font-size: xx-large;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
