.container {
  border: 1px solid;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-bottom: 13px;
}

/* 
style={{
    border: "1px solid",
    width: "600px",
    height: "600px",
    display: "flex",
    flexWrap: "wrap",
    justifyItems: "center",
  }} */
